</body>
<footer style="opacity : 0.9">
  <h1 style="background:lightblue; display:inline-block; color : #83bdf9">&copy Copyright <span style="font-family: 'Sofia'; text-decoration: underline; color:#fff">Achyut Sai Krishna</span></h1>
</footer>
</html>
